header { background-color: #0E8CCD;
		color:#FFFFFF;
		height:60px; 
		text-align:center;
		padding-top:15px;
		font-size: 130%;
		}
main {
	background-color:#A6DEFB;
	padding-top:1px;
	padding-right:20px;
	padding-left:20px;
	padding-bottom:20px;
    display:block;
}

h3 {
	font-size: 55px;
	display: inline;
	border-style: solid;
	border-width: 3px;
	padding-left: 104px;
	padding-right: 104px;
}
nav {
	background-color :#0E8CCD; 
	text-align:center;
	font-weight: bold;
}

nav a {
	text-decoration: none;
}
nav a:link {
	color:#FFFFFF
}

nav a:visited {
	color: #FFFFFF;
}

h1 { 
	margin-top:0;
	margin-bottom:0; 
	font-family: "Georgia";
}
h2 {
	font-family:"Georgia";
	text-shadow: 1px 1px #CCCCCC;
 }
	
dt {color: #002171;
   
 }
 footer{
	 font-size: 75%;
	 font-style:italic;
	 text-align: center;
	 font-family: "Georgia";
	 padding:2em;
 }

#catchphrase {
	background-color:#696969;
    color:#FFFFFF;
	border-color :#000000;
	border-width:0px;
	border-bottom-width:3px;
	border-top-width:3px;
	border-style:solid;
	letter-spacing: 2px;
	padding-left: 15px;
}
.grid-container {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  align-content: end;
  
}